.el-avatar {
  --el-avatar-background-color: none;
}

.breadcrumb-enter-from, .breadcrumb-leave-to {
  position: absolute;
  transform: translateX(20px);
  opacity: 0;
}

.breadcrumb-enter-active, .breadcrumb-leave-active {
  transition: all 0.3s;
}
